= render(:partial => "/shared/menu", :locals => {:dom_id => 'menu', :css => 'menu' })
#banner
  = image_tag('/images/logo.png', :class => 'logo')
  = image_tag('/images/slogan.png', :class => 'slogan')

= content_for :stylesheets do
  = stylesheet_link_tag('/fancybox/jquery.fancybox-1.3.4.css')

= content_for :javascript_libraries do
  = jquery_include_tags :caching => 'js_caching'
  = javascript_include_tag '/fancybox/jquery.fancybox-1.3.4.pack.js', :caching => 'plugins'
  = javascript_include_tag 'rails', 'application', :cache => true

= content_for :javascripts do
  :javascript
    //$(document).ready(function() {
    //  $("tr:odd").addClass("odd");
    //  $("tr:even").addClass("even");
    //});

