= render(:partial => "/shared/menu", :locals => {:dom_id => 'menu', :css => 'menu' })
#banner
  .blame
    .container
      =image_tag 'orest.jpg', width: '172px', alt: 'Шахрай'
      .wrapper
        %span.text
          Орест Богданович не заплатив за цей сайт попри десятки обіцянок.
          Якщо людина не може розпланувати навіть невеликий бюджет, бреше і ховається від боргів,
          можна зробити висновки про правдивість інформації поданої на сайті.

          Образи нічого не варті, але застереження мати справу із такою людиною, можливо, комусь буде в нагоді.
        %span.author
          Розробник сайту - Дмитро Самодуров.
    
  = image_tag('/images/logo.png', :class => 'logo')
  = image_tag('/images/slogan.png', :class => 'slogan')

= content_for :stylesheets do
  = stylesheet_link_tag('/fancybox/jquery.fancybox-1.3.4.css')

= content_for :javascript_libraries do
  = jquery_include_tags :caching => 'js_caching'
  = javascript_include_tag '/fancybox/jquery.fancybox-1.3.4.pack.js', :caching => 'plugins'
  = javascript_include_tag 'rails', 'application', :cache => true

= content_for :javascripts do
  :javascript
    //$(document).ready(function() {
    //  $("tr:odd").addClass("odd");
    //  $("tr:even").addClass("even");
    //});

