#mailform
  =raw @page.content_for(:mailform)
  = semantic_form_for :order, :url => "/order", :remote => true do |form|

    = form.inputs do
      =# form.input :email
      =# form.input :name
      = form.input :message, :as => :text, label: "Будьласка, коротко опишіть замовлення а також контакт для зв’язку із Вами.", :input_html => { :rows => 4 }

    = form.actions do
      = form.action :submit, as: 'button', label: t("submit")

#thankyou
